@font-face {
  font-family: mascota;
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
* {
  font-family: mascota;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: gainsboro;
}
.container {
  border: 1px solid black;
  min-width: 480px;
  max-width: 1330px;
  width: 100%;
  /* background-image: url(../assets/images/home-bg.jpg); */
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
 /* color: rgb(212, 147, 147); */
 color: tomato;
  margin-top: 75px;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
  font-size: 4rem;
  margin-bottom: 0px;
}
.container__header {
  background-color: wheat;
  width: 100%;
  margin: 0px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: space-around;
}
.nav__items {
  display: flex;
  list-style: none;
}
.nav__item {
  margin: 0px 1.5rem;
}
.nav__link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.logo {
  width: 300px;
  display: none;
}
.button {
  color: rgb(73, 73, 73);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  background-color: wheat;
  border: 2px solid rgba(116, 116, 116, 0.418);
}
.h2 {
  background-color: wheat;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
  color: tomato;
  padding: 1rem 0.5rem;
  font-size: 2.5rem;
  width: 100%;
}
.h2__span {
  color: white;
}
.section1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.article {
  padding: 1rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
  background-color: tomato;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 2px;
  /* background-image: url(); */
  background-image: url(../assets/images/introo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.articleIntro__text {
  margin-left: 15rem;
}
.section__descriptive-text {
  padding: 1rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
  background-color: rgb(140, 108, 108);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px 2px;
  /* background-color: rgb(212, 147, 147); */
}
.section2__cards {
  background-color: wheat;
  width: 430px;
  margin: 1rem;
  border-radius: 2%;
  flex: 1 1 13rem;
  padding: 0.3rem;
}
.h3 {
  color: tomato;
  text-shadow: rgb(255, 255, 255) 2px 1px;
  font-size: 2.5rem;
}
.card__img {
  width: 400px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.491) 2px 2px 2px;
  border-radius: 3%;
}
.article__text {
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 1px 1px;
  padding: 1rem;
  font-size: 1.5rem;
}
.button2 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(104, 104, 104, 0.297) 2px 2px;
  margin-bottom: 1rem;
  width: 210px;
}
.container__vip1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.section3 {
  background-color: wheat;
  margin: 1rem 1rem;
  border-radius: 2%;
  padding: 0.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section3__card1 {
  background-color: wheat;
  box-shadow: rgba(0, 0, 0, 0.6) 4px 4px 4px 4px;
  width: 100%;
  margin: 1rem 0px;
  border-radius: 2%;
  padding: 0.3rem;
  margin: 0.5rem 0px;
  background-image: url(../assets/images/vip1.jpg);
  background-size: cover;
}
.section3__card2 {
  background-color: wheat;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.6) 4px 4px 4px 4px;
  margin: 1rem;
  border-radius: 2%;
  padding: 0.3rem;
  margin: 1rem 0px;
  background-image: url(../assets/images/vip2.jpg);
  background-position: center;
  background-size: cover;
}
.cardVIP__img {
  display: none;
  width: 400px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.491) 2px 2px 2px;
  border-radius: 3%;
}
.h3__span {
  text-decoration: line-through;
  color: black;  width: 400px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.491) 2px 2px 2px;
  border-radius: 3%;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px;

}
.vip {
  color: gold;
}
.container__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vip1__items {
  list-style: none;
  display: flex;
  background-color:rgba(255, 217, 0, 0.799);
  border-radius: 60%;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.527) 2px 2px 2px 2px;
}
.vip1__item {
  margin: 7px 0px;
  width: 230px;
  color: white;
  text-shadow: black 1px 1px;
  font-size: 1.3rem;
}
.vip1__item__dis {
  margin: 7px 0px;
  font-size: 1rem;
  width: 230px;
  color: rgba(128, 128, 128, 0.6);
  text-decoration: line-through;
}
.vip2__item {
  margin: 7px 0px;
  width: 230px;
  color: white;
  text-shadow: black 1px 1px;
  font-size: 1.3rem;
}
.h4 {
  color: pink;
  font-size: 1.7rem;
  text-shadow: rgba(0, 0, 0, 0.553) 2px 2px;
  text-decoration: underline;
  margin: 0px;
}
.aside {
  display: none;
}
.footer {
  width: 100%;
  background-color: pink;
  padding: 1rem;
  display: flex;
  justify-content: space-around;

}
.footer__item {
  list-style: none;
}
.footer_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__h2 {
  width: 190px;
  text-align: center;
  margin: 0px;
  margin-top: 1rem;
  color: gold;
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: black 1px 1px;
  border: 2px solid gold;
  border-radius: 3%;
  text-decoration: underline;
  padding: 0.5rem;
}
.footer__item {
  margin: 1rem 0px;
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}